<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/make-room.css">
  <script src="javascripts/index.js" defer></script>
  <title>WebChat</title>
</head>
<body>
  <main>
    <form id='make-room' action="room.ejs">
      <h2 class='make-room-header'>Start a session</h2>
        <input type="text" placeholder="Room name" class='form-input' name="room" id="room-name" >
        <input type="text" placeholder="Username" class='form-input' name='username' id='host-name'>
      <button id='submit-room' type='submit'>Connect</button>
    </form>
  </main>
</body>
</html>
