@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body, html{
  background-color: #413F45;
  color: #EBE6FA;
  font-family: 'Oswald', sans-serif;

  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: none;
}
#video-grid{
  height: 100vh;
  width: 100vw;
  margin: 0;

  display: grid;
  /* grid-template-columns: repeat(auto-fill, 100vw);
  grid-auto-rows: repeat(auto-fill, 100vh); */
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
}
video{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
